@use "./abstracts" as *;

:root {
  font-size: 60%;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background: linear-gradient(180deg, $color-blue-900 0%, $color-gray-900 60%);
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}